/* Font */
.st-font {
    font-family: 'Comforter', cursive;
}

html,
body{
height:100%;
}

.container-fluid{
    min-height:100%;
}

/* Service Icon Color */
.i-color {
    color:rgb(58, 16, 241);
}

/* Service Subtitle Color */
.ss-color {
    color:cornsilk;
}

