{% extends "core/base.html" %}
{% block content %}

        <div class="container mt-5">
            <h3 class=" text-start text-white mb-5 border-bottom"> Experience</h3>
            
            <div class="row text-center text-warning mb-5">
               
                <div class="col-sm-4">
                    <i class="fa-solid fa-user-graduate fa-3x .i-color"></i>
                    <p><h5>Sparkles fashion studio (2016-2018)</h5></p><p>Bangalore,Karnataka</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa-solid fa-user-graduate fa-3x .i-color"></i>
                    <p><h5>ZARA inditex (2013-2016)</h5></p><p>Bangalore,Karnataka</p><p>
                </div>
                <div class="col-sm-4">
                    <i class="fa-solid fa-user-graduate fa-3x .i-color"></i>
                    <p><h5>Blink Apparels (2011-2013)</h5></p><p>Bangalore,Karnataka</p>
                </div>
                <div class="container mt-5">
                    
                    <div class="row text-center text-warning">
                        <div class="container">
                            <h3 class=" text-start text-white border-bottom mt-2">Qualifications</h3>
                            
                            <div class="row text-center text-warning mt-2">
                               
                                <div class="col-sm-4">
                                    <i class="fa-solid fa-user-graduate fa-3x .i-color"></i>
                                    <p><h5>Bsc FAD</h5></p><p>Indian Institute of Fashion Technology</p><p>Bangalore University,Karnataka.</p>
                                </div>
                                <div class="col-sm-4">
                                    <i class="fa-solid fa-user-graduate fa-3x .i-color"></i>
                                    <p><h5>+2 (Science stream)</h5></p><p>Kulathoor Govt Higher Secondary School</p><p></p><p>Thiruvananthapuram,Kerala.</p>
                                </div>
                                <div class="col-sm-4">
                                    <i class="fa-solid fa-user-graduate fa-3x .i-color"></i>
                                    <p><h5>SSLC</h5></p><p>Kazhakuttom Govt Higher Secondary School</p><p>Thiruvananthapuram,Kerala.</p>
                                </div>
                                <div class="row text-center text-warning mt-5">
                                    <h3 class=" text-start text-white border-bottom"> Roles and Responsibilities </h3><p class="text-start">Research on market trends.</p><p class="text-start">Development of prototypes for fittings with adjustments.</p><p class="text-start">Worked with research and development team to make new collections.</p><p class="text-start">Source the raw materials for design development.</p><p class="text-start">Written specs which reflect creative cohesive collections making them saleable.</p><p class="text-start">Understanding the fabric usage and types of fabrics and quality</p>
                                    <p class="text-start">leather and leather made products.</p> 
                                    <p class="text-start">Worked as a fashion stylist.</p>
                                    <p class="text-start">Arrangement of photo shoot and models.</p>
                                    <p class="text-start">Model management and various ad shoots.</p>
                                    <p class="text-start">Fashion designer and stylist for X-media entertainment launch.</p>
                                    <p class="text-start">Brand making and product launching.</p>
                                    <p class="text-start">Designer for various institutions and organizations.</p>
                                    <p class="text-start">Merchandise goods from one store to another.</p>

                                </div>
                                
                
                </div>
               
        
            </div>  
        
              
        </div>
        
        </div>
       

    </div>  

      
</div>
{% endblock content %} 